### Libraries

In [1]:
# Import the "math" library. Consult the documentation page linked below as needed.
# https://docs.python.org/3/library/math.html

import math

In [2]:
# Use a function from the math library to find the base 2 logrithm of 1764

math.log2(1764)

10.784634845557521

In [3]:
# Use a function from the math library to convert a 90 degree angle into its value in radians

math.radians(90)

1.5707963267948966

In [4]:
data = [106.2, 99.2, 78.0, 133.8, 120.7]

In [5]:
# Write a function that will return the sub of the square roots of each value in the "data" list.

def sum_sqrt(items):
    total = 0
    for i in items:
        total += math.sqrt(i)
    
    return total

sum_sqrt(data)

51.65056913342425

### Pandas

In [6]:
# Import the pandas library and name it "pd" in your local namespace. Do the same
# with the pydataset library and name it "ds." Load the "mtcars" dataset and name it
# "cars" in your code.

import pandas as pd
import pydataset as ds

cars = ds.data("mtcars")

In [7]:
# Show only the first 5 rows of the cars data.

cars.head()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [8]:
# How many unique values does the "carb" column contain?

cars["carb"].nunique()
cars.carb.nunique()

6

In [9]:
# Show all cars that have a 3 speed gear box (gear).

cars[cars.gear == 3]

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2

In [10]:
# Are there more cars in the dataset that are Automatic Transmission (am: 0) or Manual
# Transmission (am:1)?

print(len(cars[cars.am == 0]))
print(len(cars[cars.am == 1]))

19
13

In [14]:
# Find all cars that have more than 200 horsepower (hp) or weigh (wt) less than 2.5 tons.
# Show only the mpg, hp, and wt of each car.

subset = cars[(cars.hp > 200) |(cars.wt < 2.5)]
subset[["mpg", "hp", "wt"]]

                      mpg   hp     wt
Datsun 710           22.8   93  2.320
Duster 360           14.3  245  3.570
Cadillac Fleetwood   10.4  205  5.250
Lincoln Continental  10.4  215  5.424
Chrysler Imperial    14.7  230  5.345
Fiat 128             32.4   66  2.200
Honda Civic          30.4   52  1.615
Toyota Corolla       33.9   65  1.835
Toyota Corona        21.5   97  2.465
Camaro Z28           13.3  245  3.840
Fiat X1-9            27.3   66  1.935
Porsche 914-2        26.0   91  2.140
Lotus Europa         30.4  113  1.513
Ford Pantera L       15.8  264  3.170
Maserati Bora        15.0  335  3.570

In [12]:
# Find the cars with better than 18.0 miles per gallon (mpg) where the displacement (disp) per
# cylinder (cyl) is more than 35. Show only the number of cylinders, the displacement
# and the miles per gallon in that order, but order the rows of the data slowest to
# fastest by quarter mile time (qsec).

filtered = cars[(cars.mpg > 18) & (cars.disp > 35)]
fast_slow = filtered.sort_values("qsec", ascending = False)
columns = fast_slow[["cyl", "disp", "mpg"]]
columns

                   cyl   disp   mpg
Merc 230             4  140.8  22.8
Valiant              6  225.0  18.1
Toyota Corona        4  120.1  21.5
Merc 240D            4  146.7  24.4
Toyota Corolla       4   71.1  33.9
Fiat 128             4   78.7  32.4
Hornet 4 Drive       6  258.0  21.4
Fiat X1-9            4   79.0  27.3
Datsun 710           4  108.0  22.8
Volvo 142E           4  121.0  21.4
Honda Civic          4   75.7  30.4
Merc 280             6  167.6  19.2
Pontiac Firebird     8  400.0  19.2
Mazda RX4 Wag        6  160.0  21.0
Hornet Sportabout    8  360.0  18.7
Lotus Europa         4   95.1  30.4
Porsche 914-2        4  120.3  26.0
Mazda RX4            6  160.0  21.0
Ferrari Dino         6  145.0  19.7